<tr>
  <td><%= image_tag line_item.product.image.thumb.url %></td>
  <td><%= line_item.product.name %></td>
  <td><%= line_item.product.description %></td>
  <td><%= line_item.quantity %></td>
  <td><%= number_to_currency(line_item.item_price_cents / 100.0) %></td>
  <td><%= number_to_currency(line_item.total_price_cents / 100.0) %></td>
</tr>
