<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <p>Email: <%= @order.email %></p>

    <table class="table">
      <thead>
        <tr>
        <th>Image</th>
          <th>Product</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |line_item| %>
          <%= render 'line_item', line_item: line_item %>
        <% end %>
      </tbody>
    </table>

    <p>Total Order Price: <%= number_to_currency(@order.line_items.sum{ |line_item| line_item.total_price_cents / 100.0 }) %></p>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
